.section {
  padding: 1rem 1rem;
  display: block;
  overflow: auto;
  max-height: 100%;
}

.section-sm {
  padding: 2rem;
}

.main-container {
  display: grid;
  grid-template-columns: 15% 1fr;
}

.container {
  max-width: 47.5rem;
  margin: auto;
  max-height: 100%;
}

.container-lg {
  max-width: 64rem;
  margin: auto;
}

.container-xl {
  max-width: 80rem;
  margin: auto;
}
