.main-container {
  display: grid;
  grid-template-columns: 15% 1fr;
}

.section {
  padding: 16px 16px;
  display: block;
  overflow: auto;
  max-height: 100%;
}

.section-sm {
  padding: 32px;
}

.container {
  max-width: 760px;
  margin: auto;
  max-height: 100%;
}

.container-lg {
  max-width: 1024px;
  margin: auto;
}

.container-xl {
  max-width: 1280px;
  margin: auto;
}
